@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrosel.css);
@import url(styles/ulitmasecao.css);
@import url(styles/contato.css);
@import url(styles/footer.css);

:root{
    --fonte-principal: "Open Sans";
  }
  
body{
    background-color: #0097b2;
}

.texto__apresentação{
  color: white;
  font-family: var(--fonte-principal);
  font-size: 25px;
  text-align: center;
  margin: 25px auto 0 25px;
  font-weight: 600;
}

.imagem__estante{
   margin-top: 10px;
   width: 100%;
}

.card{
  background-color: white;
  margin: 1.5cm 1.5cm 0 1.5cm;
  border-radius: 10px;
  text-align: center;
}

.card__texto{
  font-family: var(--fonte-principal);
  font-size: 23px;
  font-weight: 700;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.card__imagem{
  width: 150px;
  margin-bottom: 1em;
}