@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrosel.css);
@import url(styles/ulitmasecao.css);
@import url(styles/contato.css);
@import url(styles/footer.css);

:root{
    --fonte-principal: "Open Sans";
  }
  
body{
    background-color: #0097b2;
}

.texto__apresentação{
  color: white;
  font-family: var(--fonte-principal);
  font-size: 25px;
  text-align: center;
  margin: 25px auto 0 25px;
  font-weight: 600;
}

.imagem__estante{
   margin-top: 10px;
   width: 100%;
}

.imagem__apresentação{
  display:none;
}

.imagem__apresentação-pc{
  display: none;
}

@media screen and (min-width: 1024px){

    .apresentação{
      display: flex;
    }

    .imagem__apresentação{
      display: block;
      width:  60%;
      margin: auto 3em 25px 3em;
    }

    .texto__apresentação{
      text-align: right;
      font-size: 36px;
      margin-left: 2em;
      font-weight:600;
    }

    .imagem__estante{
      width: 90%;
      margin: 0 auto 0 auto;
      display:block;
      border: 2px solid black;
      border-radius: 10px;
    }


}

@media screen and (min-width: 1728px) {

  .imagem__apresentação{
    display: none;
  }

  .imagem__apresentação-pc{
    display: block;
    margin-right: 0;
    height: 310px;
    margin-top: 40px;
  }

  .texto__apresentação{
    margin-top: 30px;
    font-size: 80px;
    margin-left: 0.5em;
    margin-bottom:2em;
  }
}