.swiper-slide img{
    width: 100;
}

.swiper-button-prev, .swiper-button-next{
display: none;
}

.carrosel{
    background-color: #7ec1ff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.swiper-scrollbar{
    display: none;
}


@media screen and (min-width: 1024px){
    
    .swiper-slide img{
        width: 180px;
    }

    .carrosel{
        margin: 20px 6em;
        border:2px solid black;
        border-radius: 15px;
    }

}

@media screen and (min-width: 1728px){
    .carrosel{
        margin: 5em 20em;
    }
    }

