.contato{
    padding: 1em;
    text-align: center;
}

.contato__titulo{
    color: black;
    font-family: var(--fonte-principal);
    font-weight: 700;
    display: block;
    margin-top: 50px;
}

.contato__email{
    margin: 1em 60px 1em 20px;
    width: 60%;
    padding: 1em;
    border: 1px solid black;
}

.contato__texto{
    font-family: var(--fonte-principal);
    font-size: 10px;
}