.div__oferta{
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
}

.container__oferta{
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    margin: 1.5cm 0 1cm 2cm;
    padding-bottom: 2em;
}

.oferta__texto{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 700;
}

.oferta__preco{
    font-size: 30px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.oferta__botao{
    padding: 0.5em 1em;
    color: white;
    background-color: black;
    border-radius: 30px;
    font-family: var(--fonte-principal);
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}


.imagem__oferta{
    position: absolute;
    display: block;
    margin: 10px auto auto 10px;
}

.card{
    background-color: white;
    margin: 1.5cm 1.5cm 0 1.5cm;
    border-radius: 10px;
    text-align: center;
  }
  
  .card__texto{
    font-family: var(--fonte-principal);
    font-size: 23px;
    font-weight: 700;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  .card__imagem{
    width: 150px;
    margin-bottom: 1em;
  }
  

.cards__tablet{
    display: none;
}

.cardpc{
    display:none;
}

.oferta__botaopc{
    display:none;
}

@media screen and (min-width: 1024px){

    .cards__celular{
        display:none;
    }
    
    .cards__tablet{
        display: block;
    }

    .divisao__tablet{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card__texto{
        font-size: 35px;
        font-weight: 600;
    }

    .card__imagem{
        width: 170px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .card{
        border-radius:40px;
    }

    .card__oferta{
        text-align: center;
        margin: 2.5em 5em auto auto

    }

    .container__oferta{
        margin-right: 1em;
        border-radius:40px;
    }

    .oferta__texto{
        font-size: 35px;
        font-weight: 600;
    }

    .oferta__preco{
        font-size: 60px;
        margin: 0.4em 0 0.5em 0;
    }

    .oferta__botao{
        font-size: 30px;
        padding: 10px 2em;

    }

    .imagem__oferta{
        width: 160px;
        margin: -35px auto auto -25px;
     }
     
     .oferta__botao:hover{
        background-color: rgb(65, 65, 65);
    }

    .oferta__botao:active{
        background-color: blue;
    }
}

@media screen and (min-width: 1728px){
    .card{
        display:none;
    }

    .cardpc{
        display: block;
        margin: 0 3em;
    }

    .estante{
        display:flex;
    }

    .imagem__estante{
        border: none;
    }

    .card__imagem{
        width: 60%;
    }

    .card__texto{
        font-size: 35px;
    }

    .divisao__tablet{
        display: block;
    }

    .imagem__oferta{
        margin-top: -100px;
        margin-left: 10px;
        width: 200px;
    }

    .container__oferta{
        display: flex;
        justify-content: space-around;
        margin-top: 5em;
        margin-bottom: 0;
    }

    .oferta__botao{
        display: none;
    }

    .oferta__texto{
        font-size: 60px;
        padding: 0 2em;
    }

    .oferta__preco{
        font-size: 90px;
        padding: 0;
        margin: 0;
        text-align: center;
        margin: auto;
        margin-right: 1em;
    }

    .oferta__botaopc{
        display: block;
        margin: 0  17em;
        padding: 0.5em 1.5em;
        text-align: center;
        font-size: 40px;
        border-radius: 50px;
    }


    
}

